:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: #f9f9f9;
}

button {
  padding: 7px 10px;
  margin: 0 5px;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  background-color: #7e7d7b;
  border: none;
  outline: none;
  box-shadow: none;
}


input,
select {
  padding: 7px 10px;
  margin: 0 5px;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;

  background-color: #fff; 
  color: #000;
  border: 1px solid #ccc;
  outline: none;
  box-shadow: none;
  transition: border-color 0.2s, box-shadow 0.2s;
}

input:hover,
select:hover {
  border-color: #999;
}

input:focus,
select:focus {
  border-color: #666;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
